.page2 section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

.output {
    height: 180px;
    font-size: 170px;
    font-family: 'Quartz MS';
    text-align: center;
    width: 51%;
    float: left;
    position: relative;
    /*margin-left: 5%;*/
}

.buttonSpace {
    height: 110px;
    width: 45%;
    display: inline;
    float: left;
    position: relative;
    margin-top: 2%;
    margin-left: 5.5%;
}

.button1 {
    height: 100px;
    width: 200px;
}

.button2 {
    height: 100px;
    width: 200px;
}

.button3 {
    height: 100px;
    width: 200px;
}

.geo {
    position: relative;
    height: 85px;
    width: 49%;
    margin-top: 37%;
    margin-left: 1%;
}

.list {
    border: 3px solid #000000;
    float: right;
    height: 600px;
    width: 450px;
    margin-right: 10%;
    margin-top: -39.5%
}

#listView {
    font-size: 50px;
    text-align: center;
}
