#page2 {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
}

.page2 section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

.output {
    height: 180px;
    font-size: 170px;
    font-family: 'Gill Sans MT';
    text-align: center;
    width: 51%;
    float: left;
    position: relative;
    margin-left: 2.5%;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.buttonSpace {
    height: 110px;
    width: 45%;
    display: inline;
    float: left;
    position: relative;
    margin-top: 2%;
    margin-left: 5.5%;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

.button1 {
    height: 100px;
    width: 200px;
}

.button2 {
    height: 100px;
    width: 200px;
}

.button3 {
    height: 100px;
    width: 200px;
}

.geo {
    position: relative;
    height: 85px;
    width: 49%;
    margin-top: 37%;
    margin-left: 1%;
    -ms-grid-column: 1;
    -ms-grid-row: 4;
}

.list {
    border: 3px solid #000000;
    font-family: 'Gill Sans MT';
    float: right;
    height: 600px;
    width: 450px;
    margin-right: 10%;
    margin-top: -39.5%
}

#listView {
    font-size: 50px;
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
}
