.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

.homepage {
    background-image: url(/images/nightRace.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.homePageTitle {
    width: calc(100% - 20px);
    color: mediumseagreen;
}

.boogieButton {
    margin-top: 30%;
    margin-left: 55%;
    height: 80px;
    width: 400px;
    font-size: 45px;
    text-align: center;
}

.greeting {
    height: 80px;
    width: 500px;
    margin-left: 55%;
    margin-top: -10.5%;
    color: gold;
    font-size: 50px;
    text-align: left;
}
